.containerDark,.containerLight{
    width: 100%;
    min-height: 100vh;
}

.containerLight{
    background-color: #efefef;
    .containerHeader{
        background-image: url("../../public/bg-desktop-light.jpg");
    }

    .checkAround{
        border: 1px solid rgb(194, 194, 194);
        background-color: #ffffff00;
    }

    .listContainer{
        background: #fff;
        label{
            color: var(--dark-grayish-blue);
        }
        .finishedTask{
            color: var(--dark-grayish-blue);
        }
        .notFinishedTask{
            color: black
        }
    }

    li{
        border-bottom: 1px solid #05030326 !important;
    }
}
.containerDark{
    background-color: var(--very-dark-blue);
    color: white;

    .containerHeader{
        background-image: url("../../public/bg-desktop-dark.jpg");
    }

    .checkAround{
        border: 1px solid var(--very-dark-grayish-blue);
        background-color: #ffffff00;
    }

    .listContainer{
        background: var(--very-dark-desaturated-blue);
        label{
            color: var(--dark-grayish-blue);
        }
        .finishedTask{
            color: var(--dark-grayish-blue);
        }
        .notFinishedTask{
            color: var(--light-grayish-blue);
        }
    }
}

.containerHeader{
    width: 100%;
    height: 16rem;
    background-repeat: round;
}

.containerBody{
    margin-top: -12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .containerHeaderInfo{
        width: 25rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20%;

        h1{
            letter-spacing: 0.75rem;
            color: #fff;
        }

        @media only screen and (max-width: 600px) {
            width: 75%;
        }
    }

    .checkAround{
        width: 1.3em;
        height: 1.3em;
        border-radius: 50%;
        vertical-align: middle;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    
        &:hover{
            border: 2px solid hsl(280, 87%, 65%);
        }
    
        &:checked{
            background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
            &::before{
                content: '✓';
                color: white;
            }
        }
    
    }

    .listContainer{
        
        width: 25rem;
        min-height: 2.2rem;
        border: 1px solid #786a6a40;
        border-radius: 0.25rem;
        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none;      
        user-select: none;  

        @media only screen and (max-width: 600px) {
            width: 75%;
        }

        ul{
            display: flex;
            flex-direction: column;
            padding: 0;

            li{
                cursor: pointer;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                border-bottom: 1px solid #d2c5c50f;
                padding: 1rem;

                label{
                    font-size: .9rem;
                    cursor: pointer;
                    overflow:hidden;
                }
            }
        }
    }
}

.logoMode{
    cursor: pointer;
}