.containerDark,.containerLigth{
    width: 25rem;
    height: 3rem;
    border-radius: .25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: -1px 3px 20px 0px #0000004d;
    padding: 1rem;
    gap: .25rem;

    .textTask{
        width: 80%;
        border: 0;
        outline: none;
    }

    @media only screen and (max-width: 600px) {
        width: 75%;
    }
}
.containerLigth{
    background: #fff;
    .textTask{
        color: var(--very-dark-grayish-blue);
        background: #f30a0a00;
    }
}
.containerDark{
    background: var(--very-dark-desaturated-blue);

    .textTask{
        color: var(--very-dark-grayish-blue);
        background: #f5deb300;
    }
}

.iconContainer{
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
    font-size: 1.05rem;
    margin-top: 2px;
    &:hover{
        color: #9c47fc;
    }
}