.containerDark,.containerLigth{
    width: 25rem;
    height: 3rem;
    border-radius: .1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: -1px 3px 20px 0px #0000004d;
    padding: 1rem;
    gap: .25rem;
}

.containerDark{
    background: var(--very-dark-desaturated-blue);

    .textTask{
        width: 80%;
        border: 0;
        outline: none;
        color: var(--very-dark-grayish-blue);
        background: #f5deb300;
    }
}

.iconContainer{
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
    font-size: 1.05rem;
    margin-top: 2px;
    &:hover{
        color: #9c47fc;
    }
}